@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #474747;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #ffffff;
  color: #474747;
  font-family: "Gaegu", sans-serif;
}

.headingFont {
  font-family: "Solway", sans-serif !important;
  font-weight: 800;
}

.customShadow {
  box-shadow: rgba(114, 98, 218, 0.118) 0px 0.636953px 1.4013px -0.9375px,
    rgba(114, 98, 218, 0.11) 0px 1.9316px 4.24953px -1.875px,
    rgba(114, 98, 218, 0.094) 0px 5.10612px 11.2335px -2.8125px,
    rgba(114, 98, 218, 0.04) 0px 16px 35.2px -3.75px;
}
